/*============== footer-area css ===============*/
.footer-area{
    background: #222222;
	padding-top: 120px;
}
.single-footer-widget{
    p{
        margin-bottom: 0px;
    }
    ul{
        li{
            a{
                line-height: 25px;
                display: inline-block;
                color: #777;
                transition: all 0.3s linear;
                margin-bottom: 13px;
                &:hover{
                    color: $baseColor;
                }
            }
        }
    }
    .instafeed{
        margin-left: -5px;
        margin-right: -5px;
        li{
            margin: 5px;
        }
    }
    .subscribe_form{
        padding-top: 25px;
    }
	.input-group{
		display: block !important;
	}
    input{
        width: 100%;
        border: 1px solid #333333;
        font-size: 13px;
        line-height: 30px;
		padding-right: 40px;
		height: 40px;
        color: #999999;
        background: transparent;
        padding-left: 20px;
        @include placeholder{
            color: #999999;
        }
        &:focus{
            outline: none;
        }
    }
    .sub-btn{
        background: $baseColor;
        color: #fff;
        font-weight: 300;
        border-radius: 0;
        line-height: 34px;
        padding: 4px 11px 0px;
        cursor: pointer;
		position: absolute;
		right: 0px;
		top: 0px;
    }
}
.footer_title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 28px;
}
.border_line{
    width: 100%;
    height: 1px;
    background: #333333;
    margin-top: 100px;
}
.footer-bottom{
    padding-top: 25px;
	padding-bottom: 25px;
    .footer-text{
        a{
            color: $baseColor;
        }
    }
    .footer-social{
        text-align: right;
        a{
            font-size: 18px;
            line-height: 30px;
            color: #82848f;
            margin-left: 25px;
            transition: all 0.3s linear;
            &:hover{
                color: $baseColor;
            }
        }
    }
}